appdirs==1.4.3
funcsigs==1.0.2
lxml==3.7.3
mock==2.0.0
nltk==3.2.2
packaging==16.8
pbr==2.0.0
pkg-resources==0.0.0
pyparsing==2.2.0
rake-nltk==1.0.0
relaxml==0.1.3
requests==2.13.0
simplejson==3.10.0
six==1.10.0
-e git+https://github.com/codeforamerica/three.git@67b4a4b233a57aa7995d01f6b0f69c2e85aea6c0#egg=three
